# Dépendances
node_modules/
__pycache__/
*.pyc
target/

# Secrets
.env
.env.local
.env.*.local
*.pem
*.key

# Builds (les PDF générés SONT commités dans /pdf/ et COURS-COMPLET.pdf)
build/html/
build/pdf/
build/chrome-tmp-*/
build/build.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/

# Vuln-app DB
vuln-app/db/*.sqlite
vuln-app/db/*.db
db/*.db
db/*.db-wal
db/*.db-shm

# Uploads
uploads/
vuln-app/uploads/
vuln-app/private-uploads/
